---
const { title = "Lab 7" } = Astro.props;
---

<html lang="en">
  <head>
    <title>{title}</title>
    <meta charset="UTF-8" />
  </head>
  <body class="relative bg-black text-green-300 font-mono overflow-hidden">
    <main class="grow px-6 py-4 overflow-y-auto">
      <slot />
    </main>

    <footer class="text-xs opacity-50 text-center py-2 border-t border-green-500">
      Lab 7 ⊷ {new Date().getFullYear()}
    </footer>
  </body>
</html>

